<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dannylewis.smartapartmentapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartApartmentApplication">
        <activity android:name=".NewShadeActionActivity"
            android:label="Add Smart Shade Action" />
        <activity android:name=".ShadeSchedulerActivity"
            android:label="Shade Scheduler Activity"
            android:theme="@style/Theme.SmartApartmentApplication.NoActionBar" />
        <activity
            android:name=".NewLightActionActivity"
            android:label="Add Smart Light Action" />
        <activity
            android:name=".LightSchedulerActivity"
            android:label="@string/title_activity_light_scheduler"
            android:theme="@style/Theme.SmartApartmentApplication.NoActionBar" />
        <activity
            android:name=".ShadeSettingsActivity"
            android:label="Shade Settings" />
        <activity
            android:name=".LightSettingsActivity"
            android:label="Light Settings" />
        <activity
            android:name=".SchedulerDashActivity"
            android:label="Scheduler" />
        <activity
            android:name=".SettingsDashActivity"
            android:label="Settings" />
        <activity
            android:name=".NoHubFoundActivity"
            android:label="No Connection" />
        <activity
            android:name=".DashboardActivity"
            android:label="SmartHub Dashboard" />
        <activity
            android:name=".SmartHubConnectedActivity"
            android:label="SmartHub Setup" />
        <activity
            android:name=".SmartHubManualSetup"
            android:label="SmartHub Setup" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>